// Layout Settings
//==================================================================*/

	// Media Queries
	//--------------------------------------------------------------*/
	$xs: 480px;
	$sm: 768px;
	$md: 992px;
	$lg: 1200px;

	$base_font_size: 14px;
	$base_line_height: 16px;
	$base_color: #656870;
	$base_font_family: 'Helvetica', sans-serif;


	// Color Settings
	//==================================================================*/


		// Brand Specific
		//--------------------------------------------------------------*/
		$brand_primary: #cc0000;

		$brand_secondary: #d9d9d9;


		// Buttons
		//==================================================================*/
		$btn_primary_bg: #252527;
		$btn_primary_bg_hover: #49494d;

		$btn_font_color: #fff;


		// Information and Validation
		//--------------------------------------------------------------*/
		$info_color: #428bca;
		$error_color: #d9534f;
		$success_color: #5cb85c;


		// Text and Links
		//--------------------------------------------------------------*/
		$link_color: $brand_info;
		$link_color_hover: darken($link_color, 15%);


		// Form Block Hover
		//==================================================================*/
		$form_block_hover: #f7f7f7;


	// Typography Settings
	//==================================================================*/

		// Headings
		//--------------------------------------------------------------*/
		$header_font_family: 'Helvetica', sans-serif;
		$header_font_weight: normal;
		$header_font_style: normal;
		$header_line_height: 1.3;
		$header_top_margin: 5px;
		$header_bottom_margin: 20px;
		$header_text_rendering: optimizeLegibility;
		$header_font_color: #2572b8;

		$h1_font_size: 20px;
		$h2_font_size: 49px;
		$h3_font_size: 20px;
		$h4_font_size: 23px;
		$h5_font_size: 18px;
		$h6_font_size: 16px;


		// Paragraphs
		//--------------------------------------------------------------*/
		$paragraph_font_weight: normal;
		$paragraph_font_size: $base_font_size;
		$paragraph_line_height: 20px;
		$paragraph_margin_bottom: 20px;
		$paragraph_text_rendering: optimizeLegibility;


		// Links
		//--------------------------------------------------------------*/
		$link_text_decoration: none;


		// Blockquotes
		//--------------------------------------------------------------*/
		$blockquote_padding: 10px 20px;
		$blockquote_margin: 0 0 20px;


	// Alerts Settings
	//==================================================================*/
	$alertbox_font_color: #fff;
	$alertbox_margin: 16px;


	// Media Settings
	//==================================================================*/
	$figure_background: #000;
	$figure_margin: 0 0 16px;
	$figure_opacity: .9;
	$figure_opacity_hover: 1;


	// Forms Settings
	//==================================================================*/
	$form_margin: 0 0 16px;


	// Table Settings
	//==================================================================*/
	$table_cell_padding: 8px;
	$table_cell_border: 1px solid $brand_primary;

	// Row Settings
	//==================================================================
	$row_margin: 0 15px;
