.parallax-section {
	width: 100%;
	height: 250px;
	// background-attachment: fixed;
	background-position: center top;
	background-size: cover;

	@media (min-width: 440px ) {
		height: 340px;
	}

	@media (min-width: 689px ) {
		height: 400px;
	}
	@include media-query (sm) {
		height: 500px;
		background-attachment: fixed;
	}
	@include media-query (md) {
		height: 578px;
		background-size: cover;
	}

	&:first-child {
		margin-top: 40px;
	}

	&.parallax-section1 {
		height: 310px;
		margin-top: -50px;
		background-attachment: scroll;

		@media (min-width: 440px ) {
			height: 748px;
		}

		// @media (min-width: 689px ) {
		// 	height: 618px;
		// }

		@include media-query (sm) {
			background-attachment: fixed;
			background-position: center top;
			background-repeat: no-repeat;
		}

		@include media-query (md) {
			height: 800px;
		}

		.container {
			position: relative;

			.thumb {
				left: 0;
				top: 200px;
				position: absolute;
				background-size: cover;

				&:hover {
					top: 200px;
				}
			}
		}
	}
}
